# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore KYC related files
src/Pages/Kyc.jsx
src/Pages/KycStatus.jsx
src/Context/KYCContext.jsx
src/Context/KYCProvider.jsx
src/components/Controller/FileController.jsx

# Optional (if using file utils)
src/Utils/FileConverter.jsx